# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env2
.env

# VS Code
.vscode/

# Logs
*.logs

# Temporary files
*.tmp

# Large/local data
raw_files/

# Large/local data
oldversion/